<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <clear/>
    <add name="DefaultSqlConnection" connectionString="Data Source=localhost; Initial Catalog=ContactRepository; Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
    <customErrors mode="Off" xdt:Transform="SetAttributes(mode)" />
  </system.web>
</configuration>