<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns:mstns="http://tempuri.org/XMLSchema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://ibatis.apache.org/dataMapper" xmlns:vs="http://schemas.microsoft.com/Visual-Studio-Intellisense">

  <settings>
    <setting useStatementNamespaces="false" />
    <setting cacheModelsEnabled="true" />
  </settings>

  <providers embedded="EthanYoung.ContactRepository.Persistence.providers.config, EthanYoung.ContactRepository" />

  <database>
    <provider name="sqlServer2.0" />
    <dataSource name="dbConn"  connectionString="${ConnectionString}" />
  </database>

  <typeHandlers>
    <typeHandler type="EthanYoung.ContactRepository.EmailAddress, EthanYoung.ContactRepository" callback="EthanYoung.ContactRepository.Persistence.TypeHandlerCallbacks.EmailAddressTypeHandlerCallback, EthanYoung.ContactRepository" />
    <typeHandler type="EthanYoung.ContactRepository.PhoneNumber, EthanYoung.ContactRepository" callback="EthanYoung.ContactRepository.Persistence.TypeHandlerCallbacks.PhoneNumberTypeHandlerCallback, EthanYoung.ContactRepository" />
  </typeHandlers>

  <sqlMaps>
    <sqlMap embedded="EthanYoung.ContactRepository.Persistence.Contacts.Contact.xml, EthanYoung.ContactRepository" />
    <sqlMap embedded="EthanYoung.ContactRepository.Persistence.ContactGroups.ContactGroup.xml, EthanYoung.ContactRepository" />
  </sqlMaps>
</sqlMapConfig>
