<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="EthanYoung.ContactRepository.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
  
  <castle>
    <installers>
      <install type="EthanYoung.ContactRepository.DependencyInstaller, EthanYoung.ContactRepository"/>
      <install type="EthanYoung.ContactRepository.Persistence.PersistenceInstaller, EthanYoung.ContactRepository"/>
    </installers>
  </castle>

  <connectionStrings>
    <clear/>
    <add name="LocalDev-WIN7-1-eyoung" connectionString="Data Source=localhost\SQLEXPRESS; Initial Catalog=ContactRepositoryTests; Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="LocalDev-WIN7-2-eyoung" connectionString="Data Source=localhost\SQLEXPRESS; Initial Catalog=ContactRepositoryTests; Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="DefaultSqlConnection" connectionString="Data Source=localhost; Initial Catalog=ContactRepositoryTests; Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <applicationSettings>
    <EthanYoung.ContactRepository.Properties.Settings>
      <setting name="DefaultConnectionStringName" serializeAs="String">
        <value>DefaultSqlConnection</value>
      </setting>
    </EthanYoung.ContactRepository.Properties.Settings>
  </applicationSettings>
</configuration>