<div class="panel-body" ng-hide="contacts.length">
    There are no contacts.
</div>
<table class="table table-condensed table-striped" ng-show="contacts.length">
    <thead>
        <tr>
            <th>Actions</th>
            <th>First</th>
            <th>Last</th>
            <th>Primary Email</th>
            <th>Primary Phone</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="contact in contacts">
            <td>
                <div class="btn-group">
                    <a ey-start-task="/edit/{{contact.Identifier}}" class="btn btn-primary btn-xs">Edit</a>
                    <a class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" ey-start-task="/delete/{{contact.Identifier}}">Delete</a></li>
                    </ul>
                </div>
            </td>
            <td>{{contact.FirstName}}</td>
            <td>{{contact.LastName}}</td>
            <td>
                <span ng-repeat="contactEmailAddress in contact.EmailAddresses | filter : { IsPrimary: true }">
                    {{contactEmailAddress.EmailAddress}} <span ng-show="contactEmailAddress.NickName">({{contactEmailAddress.NickName}})</span>
                </span>
            </td>
            <td>
                <span ng-repeat="contactPhoneNumber in contact.PhoneNumbers | filter : { IsPrimary: true }">
                    {{contactPhoneNumber.PhoneNumber}} <span ng-show="contactPhoneNumber.NickName">({{contactPhoneNumber.NickName}})</span>
                </span>
            </td>
        </tr>
    </tbody>
</table>
