<div ng-repeat="alert in alerts" class="alert alert-{{alert.type}}">{{alert.text}}</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Contacts
    </div>
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>Actions</th>
                <th>Identifier</th>
                <th>First</th>
                <th>Last</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="contact in contacts">
                <td>
                    <div class="btn-group">
                        <a href="#/edit/{{contact.Identifier}}" class="btn btn-primary btn-xs">Edit</a>
                        <a class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#/delete/{{contact.Identifier}}">Delete</a></li>
                        </ul>
                    </div>
                </td>
                <td>{{contact.Identifier}}</td>
                <td>{{contact.FirstName}}</td>
                <td>{{contact.LastName}}</td>
            </tr>
        </tbody>
    </table>
</div>