@{
    ViewBag.AngularJsApp = "contactsApp";
    ViewBag.Title = "Contact Repository";
}
@section head {
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.min.js"></script>
    @Scripts.Render("~/bundles/contacts")
}
<div class="jumbotron">
    <h1>Contact Repository</h1>
    <p>
        This is just something on the homepage to check the styling.
    </p>
</div>
<div ng-view></div>